*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom right,rgba(69, 249, 255, 0.8), rgba(84, 235, 255, 0.329));
    height: 100vh;
}
#container{
    height: 70vh;
    width: 70vw;
    max-width: 700px;
    background-color: seashell;
    margin: auto;
    position: relative;
    top: 100px;
    border-radius: 15px;
}
h1{
    color: #4444e9;
    font-size: 3em;
    border: 3px solid black;
    border-radius: 25px;
    display: inline-block;
}
.box1{
    width: 510px;
    border: 3px solid red;
    padding: 30px;
    box-sizing: border-box;
}
.box2{
    width: 510px;
    border: 3px solid red;
    box-sizing: border-box;
} 





























/* 
 .box1{
    width: 510px;
    border: 3px solid red;
    padding: 20px; 
    box-sizing: border-box;
    text-align: center;
}
.box2{
    width: 510px;
    border: 3px solid red;
    box-sizing: border-box;
    text-align: center;
}  */