*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom right,rgba(69, 249, 255, 0.8), rgba(84, 235, 255, 0.329));
    height: 100vh;
}
#container{
    height: 70vh;
    width: 70vw;
    max-width: 700px;
    background-image: linear-gradient(to bottom right, #e9ffdf, hsla(123, 100%, 78%, 0.637));
    margin: auto;
    position: relative;
    top: 100px;
    border-radius: 15px;
    text-align: center;
}
h1{
    color: #4444e9;
    font-size: 4em;
    border: 3px solid black;
    border-radius: 40px;
}
.box1{
    width: 550px;
    border: 3px solid red;
    padding: 0 50px;
    box-sizing: border-box;
}
.box2{
    width: 550px;
    border: 3px solid red;
}



#container{
    padding: 30px;
}
































 /* .box1{
    width: 510px;
    border: 3px solid red;
    /* padding: 20px; 
    box-sizing: border-box;
}
.box2{
    width: 510px;
}  */