*{
  box-sizing: border-box;
}

body{
  width: 100vw;
  max-width: 100%;
  margin: 0;
  font-family: Arial;
  background-image: url("https://assets.epicurious.com/photos/55e4c39fcf90d6663f727a74/4:6/w_2296,h_3444,c_limit/shutterstock_209917372.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  margin-top: 2em;
  background-color: royalblue;
}
p{
  margin: 2em 2em;
}
#pic{
  width: 75vw;
  display: block;
  margin: 1.7em auto;
}
footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
form{
  text-align: center;
  margin-bottom: 3em;
  
}
span{
  font-weight: 400;
  font-size: 0.9em;
  margin-left: 1.5em;
}
.ic{
  font-size: 1.3em;
  padding-right: 2em;
}





































/* .box{
    background-image: linear-gradient(to right,rgba(255, 0, 0,0.8), rgb(146, 0, 0,0.2));
    height: 800px;
    width: 80vw;
    background-image: url("space.jpeg");
    background-size: cover;
    background-position: center;
} */
/* body {
    background: lightblue url("img_tree.gif") no-repeat fixed center;
  } */

  /* body{
      background-image: url("login.jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
  } */

  /* body{
    background-image: linear-gradient(to bottom right,rgba(69, 249, 255, 0.8), rgba(84, 235, 255, 0.329));
    background-repeat: no-repeat;
    height: 100vh;
  } */



  /* background: rgb(224, 84, 84); */

  /* background: hsl(9, 100%, 64%); */

  /* background-image: linear-gradient(to bottom right,rgba(255, 0, 0,0.8), rgb(146, 0, 0,0.2)); */

  /* height: 500vh;
    margin: 0;
    background-image: url("logo.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll; */