






































/* .box{
    background-image: linear-gradient(to right,rgba(255, 0, 0,0.8), rgb(146, 0, 0,0.2));
    height: 800px;
    width: 80vw;
    background-image: url("space.jpeg");
    background-size: cover;
    background-position: center;
} */
/* body {
    background: lightblue url("img_tree.gif") no-repeat fixed center;
  } */

  /* body{
      background-image: url("login.jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
  } */

  /* body{
    background-image: linear-gradient(to bottom right,rgba(69, 249, 255, 0.8), rgba(84, 235, 255, 0.329));
    background-repeat: no-repeat;
    height: 100vh;
  } */



  /* background: rgb(224, 84, 84); */

  /* background: hsl(9, 100%, 64%); */

  /* background-image: linear-gradient(to bottom right,rgba(255, 0, 0,0.8), rgb(146, 0, 0,0.2)); */

  /* height: 500vh;
    margin: 0;
    background-image: url("logo.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll; */